$lightBg: #f2f2f2;
$light: #999;
$high: #333;

$BP: 35em;

.newInternship, .editListing{
    
    h1,
    p {
      width: 100%;
      text-align: center;
      margin: 0;
      padding: 1em 0;
    }

    p {
      padding: .5em 0;
    }
    
    .left {
      float: left;
    }
    
    .right {
      float: right;
    }
    
    @media (max-width: $BP) {
      .left,
      .right {
        float: left;
        clear: left;
      }
    }
    
    .form {
      width: 0;
      height: 0;
      margin-left: 5%;
      // background: #F3F6FD;
      color: var(--main-color);
      // background-color: var(--projects-section);
      background-color: var(--app-container);
      overflow: hidden;
      position: absolute;
      z-index: 10;
      transition: height .5s ease, width .5s ease .5s;
      
      h2 {
        width: 100%;
        text-align: center;
        color: $high;
        font-size: 2rem;
        margin: 1.5rem 0 3rem;
        color: var(--main-color);
        // margin-bottom: 0;
        // text-decoration: underline;
      }

      
      form {
        max-height: 80%;
        height: auto;
        
        @media (max-width: $BP) {    
          height: auto; 
        }
      }
      
      .section {
        width: 40%;
        margin: 0 5%;
        height: calc(100% - 5rem);
        max-height: 100%;
        
        @media (max-width: $BP) {
          width: 90%;
          height: auto;
        }
      }
      
      ::-webkit-input-placeholder,
      :-moz-placeholder,
      ::-moz-placeholder,
      :-ms-input-placeholder {
        color: $light;
      }
      
      input[type="text"],
      input[type="email"],
      input[type="tel"],
      textarea,
      select{
        width: 100%;
        box-sizing: border-box;
        border-radius: 2%;
        // background-color: rgb(255, 255, 255);
        background-color: var(--projects-section);
        border-radius: 1.5em;
        border: none;
        // border-bottom: 1px solid $light;
        outline: none;
        color: #333;
        transition: border-color .5s ease;
        padding: 1em;
        
        &:focus {
          border-color: $high;
        }
        
        &::invalid {
          border-color: #B31B1B;
        }
      }
      select{
        min-width: 5em;
      }
      
      input[type="text"],
      input[type="email"],
      input[type="tel"] {
        height: 2.5rem;
        margin-bottom: 1rem;
      }
      
      textarea {
        resize: none;
        height: 10rem;
        line-height: 1.5rem;
        
        @media (max-width: $BP) {
          height: 2.5rem;
          margin-bottom: 1rem;
          line-height: 2rem;
        }
      }
      
      .closeFormLabel,
      .sendForm {
        position: absolute;
        bottom: 1rem;
        width: 40%;
        margin: 0 5%;
        right: 0;
        text-align: center;
        border: 1px solid $light;
        padding: .5rem;
        background: inherit;
        cursor: pointer;
        box-sizing: border-box;
        transition: background-color .5s ease, border-color .5s ease;
        
        &:hover,
        &:focus {
          background-color: darken($lightBg, 15%);
          border-color: $high;
        }
        
        @media (max-width: $BP) {
          position: relative;
          width: 90%;
          left: 0;
          margin-top: 1em; 
        }
      }
      .sendForm{
        background-color: dodgerblue;
        color: #fff;
        border-color: dodgerblue;
        font-size: 1.5em;
        border-radius: 1.5em;
      }
      
      .closeFormLabel {
        left: 0;
        background-color: #fff;
        border-radius: 1em;
        border-color: dodgerblue;
        font-size: 2em;
        color: dodgerblue;
        @media (max-width: $BP) {
          bottom: 1rem; 
        }
        :hover{
          background-color: dodgerblue;
          color: #e97272;
        }
      }
    }
    
    input.showForm {
      display: none;
      
      &:checked + .form {
        width: 90%;
        height: 80%;
        box-shadow: 0 8px 8px -4px lightblue;
        border-radius: 2em;
        
        // border-width: 1em;
        // border-style: solid;
        // border: rgb(51, 51, 51);
        overflow: auto;
        transition: width .5s ease, height .5s ease .5s;
      }
    }

    #dateSelector{
      margin: 20px 0;
      border: 0.1px solid rgb(225, 230, 235);
      border-radius: 10px;
      background-color: #fff;
      outline: none;
      padding: 10px 0;
      width: 150px;
    }
    
    .showFormLabel {
      cursor: pointer;
      display: block;
      position: absolute;
      bottom: 10%;
      left: 25%;
      width: 50%;
      height: 3rem;
      line-height: 3rem;
      font-size: 1rem;
      text-align: center;
      color: $high;
      border: 1px solid $light;
      background: inherit;
      z-index: 1;
      transition: background-color .5s ease, border-color .5s ease;
       
        &:hover,
        &:focus {
          background-color: darken($lightBg, 5%);
          border-color: $high;
        }
      
      @media (max-width: $BP) {
        width: 90%;
        left: 5%;
      }
    }
}